<header class="navbar navbar-default" id="navbar" role="banner">
  <div id="llnl-menu" >
  </div>

  <div class="container menu-wrap">

    <div class="llnl-logo-wrap">
      <div id="llnl-logo">
        <a href="https://www.llnl.gov"><img src="/assets/images/llnl-logo.png" alt="LLNL Logo" /></a>
      </div>
    </div>
    <div class="nav-wrap">
      <nav role="navigation" id="block-primary-menu">
        <ul class="menu menu--main nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="expanded dropdown">
            <a href="/softwareengineering/">Dropdown</a>
            <ul class="dropdown-menu">
              <li>Menu Item 1</li>
              <li>Menu Item 2</li>
            </ul>
          </li>
          <li><a href="{{ site.repo_url }}" target="_blank"><i class="fa fa-github" aria-label="GitHub icon"></i></a></li>
        </ul>
      </nav>
    </div>
</header>
