<head>
  <meta charset="utf-8">
  <title>{{ site.name }}</title>

  <!-- For project-specific css, prepend URLs with {{ site.baseurl }} -->
  <!-- Otherwise, defaults to assets from llnl.github.io  -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://cdn.llnl.gov/llnl/images/favicon.ico">

  <link rel="stylesheet" href="https://cdn.llnl.gov/css/llnl.css" media="screen">
  <link rel="stylesheet" href="https://cdn.llnl.gov/bootstrap/3.3.5/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="https://cdn.llnl.gov/font-awesome/4.4.0/css/font-awesome.min.css" media="screen">
</head>
